external/glfw-src
external/glfw-subbuild
external/glfw-build
external/glm-src
external/glm-subbuild
external/glm-build 
build-ninja/
build/
test
test.cpp
test.exe 
test.pdb 
test.ilk
imgui.ini
.gitignore
.vscode/
.vs/
build-debug/
.cache/